/* //////////////////////////// [ NAVBAR ] //////////////////////////// */
.navbar-menu {
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}

.navbar-logo {
    float: left;
    padding: 5px 20px 0;
}

.navbar-logo img { height: 60px; }

.navbar-menu nav {
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}

.navbar-menu nav ul { padding: 0 10px; }

.navbar-menu nav ul li {
    display: inline-block;
    position: relative;
    transition: 0.25s linear;
    z-index: 1000;
}

.navbar-menu nav ul li a {
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 20px;
    transition: 0.25s linear;
}

.navbar-menu .navbar-submenu .items {
    display: none;
    background-color: #0b123b;
    position: absolute;
    width: 100%;
}

.navbar-menu .navbar-submenu .items li {
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.navbar-menu .navbar-submenu .items li a { display: block; }

/* --------------------------------- [ Hover ] --------------------------------- */
.navbar-logo img:hover,
.navbar-menu nav ul li:hover {
    color: #57b846;
    cursor: pointer;
}

.navbar-menu nav ul li a:hover { color: #57b846; }

.navbar-submenu a.title { cursor: default; }

.navbar-submenu ul.items li:hover
{
    background-color: #0b123b;
    border-radius: 25px;
}

.navbar-submenu:hover ul.items {
    display: block;
    width: 200%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #5D6D7E;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.navbar-submenu:hover ul.items.left-side {
    transform: translateX(-100px);
    border-top-right-radius: 0;
    border-top-left-radius: 25px;
}

/* --------------------------------- [ Email & Name ] --------------------------------- */
.navbar-menu nav ul li a.user-info:hover {
    cursor: default;
    color: white;
    background-color: #5D6D7E;
    transition: none;
}

/* //////////////////////////// [ DataTables and Sweet Alert 2 ] //////////////////////////// */
.card-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-body.datatable {
    background: #F9E79F;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card-body.datatable table thead {
    background: rgba(128, 128, 128, 0.25);
    color: black;
}

div.form-wrapper.swal { overflow-x: hidden; }

/* --------------------------------- [ Fixing: some css from style.css overlaps with adminlte.min.css ] --------------------------------- */
/* Previous - Current - Next Datatable paging buttons */
a.paginate_button.previous, a.paginate_button.current, a.paginate_button.next {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
}

a.paginate_button.previous:hover, a.paginate_button.current, a.paginate_button.next:hover {
    background-color: rgba(128, 128, 128, 0.5);
    cursor: pointer;
    color: white;
    font: bold;
    border-radius: 5px;
}

/* Current paging button */
a.paginate_button.current {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}


/* Input border style in forms */
input.form-control:focus, input.form-control:focus::placeholder {
    border-color: #85C0FF;
}